

/* Gerais */

html{
    scroll-behavior: smooth;
}

body{
     font-family: 'Roboto', sans-serif;
       background-color: rgb(16, 1, 29);
       color: #ffff; 
       box-sizing: border-box;
       overflow-x: hidden;
}

.row{
     margin: 1.25rem;
}

/* ======== header-navbar========== */
#logo{
     width: 2.4rem;
     margin-left: 1.1rem;
}
 /* Remove border menu ham*/
.navbar-toggler {
     border: rgb(255, 255, 255) ;
     color: transparent;
 }
 /* Linhas menu hamburger*/
 .toggler-icon{
     width: 1.8rem;
     height: .188rem;
     background-color: #777676c7;
     display: block;
     transition: all .2s;
 } 
 /*=== Add espaço entre as linhas */
 .middle-bar{
     margin: .313rem auto;
 }
 /*=starts quando navbar é aberta (OPEN) == */
 .navbar-toggler .top-bar {
     transform: rotate(45deg);
     transform-origin: 10% 10%;
 }
 .navbar-toggler .middle-bar {
     opacity: 0;
     filter: alpha(opacity=0);
 }
 .navbar-toggler .bottom-bar {
     transform: rotate(-45deg);
     transform-origin: 10% 90%;
 }/* (END) */

 /* QUANDO FECHA (closed) */
 .navbar-toggler.collapsed .top-bar {
     transform: rotate(0);
     
 }
 
 .navbar-toggler.collapsed .middle-bar {
     opacity: 1;
     filter: alpha(opacity=100);
 }
 
 .navbar-toggler.collapsed .bottom-bar {
     transform: rotate(0);
      
 }/*  (END) */
 
 /* Color of Toggler when collapsed */
 .navbar-toggler.collapsed .toggler-icon {
     background-color: #A400CC;
 } 
 

/*  menu toggler links */
.navbar-nav { 
     display: flex;
     flex-direction: row;
     justify-content: center;
   
}
.nav-link {
    font-weight: 700;
    font-size: .8rem;
    margin:  .5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}

.nav-link:hover {
     color:   #db3eb1;
}
.navbar{
     background-color: rgba(16, 1, 29, 0.93);
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
     

     
}
.dropdown-menu {
     background-color: rgb(16, 1, 29);
}
.dropdown-item{
     color: #ffff;
}





/* ==============  main - About me area======== */
.main{
    margin-top: 5em;
}

.about-me{
    margin-top: 4em;
    padding: 1em;
  
}

.about-me span {
    color: rgb(2, 220, 220);
}

.about-me h3{
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: .5em;
}
.about-me > p {
    font-size: .9em;
    font-weight: 600;
    color: rgb(204, 204, 204);
}

.conheça{
    margin-top: 3em;
    margin-left: 25px;
}

.conheça > p {
    font-size: .8em;
    font-weight: 800;
    color: rgba(212, 201, 212, 0.846);
    letter-spacing: 1px;
}

 .conheça > .button {
    text-decoration: none;
    color: #db3eb1;
    border: 2px solid #db3eb1;
    border-radius: .125rem;
    padding:  .125rem .563rem;
    font-size: 1em;
    letter-spacing:.25em;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 10px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(1) brightness(1);
    transition: .5s;

  }
  
  .conheça > .button:hover {
    color: rgba(231, 231, 231, 0.617);
    background-color: #db3eb1;
    filter: drop-shadow(0 0 1.3rem #db3eb1) contrast(2) brightness(2);
  }

.icone {
    width: 1.8rem;
    height: 1.8rem;
}

.home-pag  .col-xl-12 {
    margin-top: 10em;
    text-align: center; 
}

.home-pag h5 {
    font-size: 1.1em;
}

/*  ============ SECTION PORTIFOLIO */

.portfolio{
    margin-top: 3em;
}

.title{
    text-align: center;
    padding: .6rem;
}

.title:after {
    content: '';
    display: block;
    width: 5rem;
    height: .13rem;
    background: #6d2db0;
    margin: .13rem auto;
  }


  /* Projects Portfolio section   */

  .projects-section {
    margin-top: 30rem;

 
  }
                                                                                    
.projects-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


.card{
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin: 1rem .5rem;
height: 320px;
min-width: 300px;
padding: .6rem;
background-color: rgba(0, 0, 0, 0.46);
border-radius: .9rem;
border: #db3eb15e 1px solid;

}
.card:hover{
    box-shadow: 1px 1px 15px   #db3eb1; ;
    transition: 0.6s;
}

.project-image {
    width: 100%;
    margin: auto;
    padding: .2rem;

}
.project-image img {
    width: 280px;
    padding: .8rem;
    transition: .4s;
        

}
.card:hover img {
    padding: .0rem;
    transition: .4s;
}


.card-project-title {
    padding: .5rem;
    width:100%;
    height: 30%;
}
.card-project-title h4{
font-size: 1.3rem;
color: rgb(201, 212, 214);
font-weight: 700;
}

.card-project-title p {
    font-size: .9rem;
    color: rgb(190, 189, 189);
}


.projects-section h2 {
    margin: 1rem 0;
    text-align: center;
    letter-spacing: .2rem;

}



