

/*  Configurações Gerais  ==Reset==*/
html{
     scroll-behavior: smooth;
 }

 body{
      font-family: 'Roboto', sans-serif;
        background-color: #10011D;
        color: #ffff; 
        box-sizing: border-box;
        overflow-x: hidden;
 }

 ::selection {
    background-color: #8f75af;
    color: #10011D;
}

.row{
     margin: 1.25rem;
}
/*  END  Configurações Gerais  ==Reset==*/

/* ======== header-navbar========== */
#logo{
     width: 2.8rem;
     margin-left: 1.1rem;
}
.navbar-brand{
    border-radius: 1rem;
}
 /* Remove border menu ham*/
.navbar-toggler {
     border: rgb(255, 255, 255) ;
     color: transparent;
 }
 /* Linhas menu hamburger*/
 .toggler-icon{
     width: 1.8rem;
     height: .188rem;
     background-color: #777676c7;
     display: block;
     transition: all .2s;
 } 
 /*=== Add espaço entre as linhas */
 .middle-bar{
     margin: .313rem auto;
 }
 /*=starts quando navbar é aberta (OPEN) == */
 .navbar-toggler .top-bar {
     transform: rotate(45deg);
     transform-origin: 10% 10%;
 }
 .navbar-toggler .middle-bar {
     opacity: 0;
     filter: alpha(opacity=0);
 }
 .navbar-toggler .bottom-bar {
     transform: rotate(-45deg);
     transform-origin: 10% 90%;
 }/* (END) */


 /* QUANDO FECHA (closed) */
 .navbar-toggler.collapsed .top-bar {
     transform: rotate(0);
 }
 
 .navbar-toggler.collapsed .middle-bar {
     opacity: 1;
     filter: alpha(opacity=100);
 }
 
 .navbar-toggler.collapsed .bottom-bar {
     transform: rotate(0);
      
 }/*  (END) */
 
 /* Color of Toggler when collapsed */
 .navbar-toggler.collapsed .toggler-icon {
     background-color: #A400CC;
 } 
 

/*  menu toggler links */
.navbar-nav { 
     display: flex;
     flex-direction: row;
     justify-content: center;  
}

.nav-link {
    font-weight: 800;
    font-size: .8rem;
    margin:  .4rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

a:active{
    background-color: rgba(210, 8, 246, 0.34);
    color: #ffffff !important;
    border-radius: .5rem;
    padding: .3rem;
}

.nav-link:hover {
     color:   #db3eb1;
}
.navbar{
     background-color: rgba(16, 1, 29, 0.974);
     border-bottom: 2px solid rgba(176, 13, 179, 0.118); 
}
.dropdown-menu {
     background-color: rgb(16, 1, 29);
}
.dropdown-item{
     color: #ffff;
}


