
.portfolio{
     margin-top: 2em;
 }
 
 .title{
    text-align: center;
    padding: .6rem;
    
 }

 .title:after {
     content: '';
     display: block;
     width: 3rem;
     height: .13rem;
     background: #6d2db0;
     margin: .11rem auto;
   }
.about-me-text-div{
    margin:3rem;
}
 .about-me-text{
    font-size: 18px;
   text-align: justify;
   max-width: 70rem;
   margin: auto;
    border: 1px solid #f9f9f936;
    padding: 1.5em;
    border-radius: 9px;
    letter-spacing: .5px;
 }
 
 .about-me-text a {
  color:  rgb(2, 220, 220);
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}

   /* Projects Portfolio section   */
 
   .projects-section {
    margin-top: 25rem;
   }
                                                                                     

 
 



 

