
.portfolio{
     margin-top: 3em;
 }
 
 .title{
     text-align: center;
     padding: .6rem;
 }

 .title:after {
     content: '';
     display: block;
     width: 3rem;
     height: .13rem;
     background: #6d2db0;
     margin: .11rem auto;
   }
.about-me-text-div{

    margin:3rem;

}
 .about-me-text{
    font-size: 18px;
 }
 .about-me-text a {
  color:  rgb(2, 220, 220);
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}

   /* Projects Portfolio section   */
 
   .projects-section {
    margin-top: 22rem;
   }
                                                                                     
 .projects-container {
     max-width: 80rem;
     margin: auto;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
     padding: 5rem;
 }
 
 
 .card{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 margin: .5rem .5rem;
 height: 290px;
 min-width: 300px;
 padding: .6rem;
 background-color: rgba(0, 0, 0, 0.46);
 border-radius: .9rem;
 border: #db3eb15e 1px solid;
 
 }
 .card:hover{
     box-shadow: 1px 1px 15px   #db3eb1; ;
     transition: 0.6s;
     cursor: pointer;
 }
 
 .project-image {
     width: 100%;
     margin: auto;

 }

 .project-image img {
     width: 300px;
     padding: .4rem;
     transition: .5s;
 }
 .card:hover img {
     padding: .0rem;
     transition: .4s;
 }
 
 
 .card-project-title {
     padding: .5rem;
     width:100%;
     height: 30%;
 }
 .card-project-title h4{
 font-size: 1.3rem;
 color: rgb(201, 212, 214);
 font-weight: 700;
 }
 
 .card-project-title p {
     font-size: .9rem;
     color: rgb(190, 189, 189);
 }
 
 
