
.portfolio{
     margin-top: 2em;
 }
 
 .title{
    text-align: center;
    padding: .6rem;
    
 }

 .title:after {
     content: '';
     display: block;
     width: 3rem;
     height: .13rem;
     background: #6d2db0;
     margin: .11rem auto;
   }
.about-me-text-div{
    margin:1rem;
}
 .about-me-text{
    font-size: 16px;
   
   max-width: 65rem;
   margin: auto;
    border: 1px solid #f9f9f936;
    padding: 0.8em;
    border-radius: 9px;
     word-spacing:normal;
     letter-spacing: normal;
 }
 
 .about-me-text a {
  color:  rgb(2, 220, 220);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

   /* Projects Portfolio section   */
 
   .projects-section {
    margin-top: 25rem;
   }
                                                                                     

 
 



 

